<h1>Heroes <span>Marvel y DC</span></h1>
<hr />
<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let id = index;">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre" />
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">
        {{ heroe.bio }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ heroe.aparicion }}</small>
      </p>
      <button (click)="verHeroe(id)" type="button" class="btn btn-outline-primary btn-block">
        ver más..
      </button>
    </div>
  </div>
</div>
